@keyframes arpoo {
    0% {transform: scale(0.0, 0.0) rotate(0deg);}
    100% {transform: scale(1.0, 1.0) rotate(-1080deg);}
}

body {
    text-align: center;
    font-family: Playbill, Arial;
    font-size: 200%;
    line-height: 0.0;
    letter-spacing: 2px;
    font-weight: lighter;
    margin: 4px;
    background-image: url("tausta.gif");
}

input {
    max-width: 76px;
    font-family: Playbill, Arial;
    font-size: 100%;
    letter-spacing: 2px;
    text-align: right;
    border: 2px solid black;
    border-radius: 23px;
    box-shadow: 2px 2px 9px black;
}

button {
    width: 80%;
    text-align: center;
    font-family: Playbill, Arial;
    font-size: 160%;
    letter-spacing: 2px;
    font-weight: lighter;
    border: 2px solid black;
    border-radius: 33px;
    background-color: white;
    box-shadow: 2px 2px 9px black;
}

#otsikko {
    text-align: center;
    font-size: 300%;
    font-weight: lighter;
    padding-bottom: 8px;
}

#ohjeet {
    display: none;
    line-height: 0.9;
    position: absolute;
    bottom: 10%;
    left: 3%;
    max-width: 66%;
}

#pelikkuna {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#panostus {
    width: 100%;
}

#rullat {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#voitot {
    width: 100%;
    font-size: 75%;
}

#lukitse0, #lukitse1, #lukitse2, #lukitse3 {
    display: none;
}

#lukitse0:hover, #lukitse1:hover, #lukitse2:hover, #lukitse3:hover, #pelaa:hover, 
input:hover, #aloitaAlusta:hover {
    text-decoration: underline;
}

#peliOhikkuna {
    display: none;
}

#aloitaAlusta {
    width: 40%;
}

.rullakuvake {
    display: inline-block;
    width: 100px;
    height: 137px;
    border: 2px solid black;
    margin: 2px;
    border-radius: 33px;
    box-shadow: 2px 2px 9px black;
}

.voittokuvake {
    display: inline-block;
    width: 30px;
    height: 40px;
    position: relative;
    top: 12px;
    border: 1px solid black;
    border-radius: 9px;
    box-shadow: 2px 2px 11px black;
}