h1 {
    font-size: 300%;
}

#pelikkuna {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#rullat {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.rullakuvake {
    display: inline-block;
    width: 100px;
    height: 137px;
}

.voittokuvake {
    display: inline-block;
    width: 30px;
    height: 40px;
}